In [1]:
class Accounts:
    counter=0
    def __init__(self,opening_bal=0):
        Accounts.counter= Accounts.counter+1
        self.id=Accounts.counter
        self.bal=opening_bal
        
    def deposit(self,amount):
        self.bal=self.bal+amount
    def withdrow(self,amount):
        self.bal=self.bal-amount
    def __str__ (self):
        return "Ac number is :{} and Balance is : {}".format(self.id,self.bal)

a1=Accounts()
print(a1)

Ac number is :1 and Balance is : 0

In [2]:
a2=Accounts()
print(a2)

Ac number is :2 and Balance is : 0

In [3]:
a3=Accounts()
a3.deposit(10000)
print(a3)

Ac number is :3 and Balance is : 10000

In [4]:
a3.deposit(5000)
print(a3)

Ac number is :3 and Balance is : 15000

In [5]:
a3.withdrow(1000)
print(a3)

Ac number is :3 and Balance is : 14000

In [6]:
a2.withdrow(2000)
print(a2)

Ac number is :2 and Balance is : -2000

In [7]:
print(a2)

Ac number is :2 and Balance is : -2000

In [8]:
a2.deposit(10000)
print(a2)

Ac number is :2 and Balance is : 8000

In [9]:
a2.withdrow(3000)
print(a2)

Ac number is :2 and Balance is : 5000

In [10]:
A5=Accounts()
print(A5)

Ac number is :4 and Balance is : 0

In [11]:
print(a1)
print(a2)
print(a3)
print(A5)

Ac number is :1 and Balance is : 0
Ac number is :2 and Balance is : 5000
Ac number is :3 and Balance is : 14000
Ac number is :4 and Balance is : 0

In [12]:
a2.withdrow(6000)
print(a2)

Ac number is :2 and Balance is : -1000

In [13]:
class Accounts:
    counter=0
    def __init__(self,opening_bal=0):
        Accounts.counter=Accounts.counter+1
        self.id=Accounts.counter
        self.bal=opening_bal
        
    def deposit(self,amount):
        if amount>0:
            self.bal=self.bal+amount
    def withdrow(self,amount):
        if amount>0 and self.bal>amount:
            self.bal=self.bal-amount
        if amount>0 and self.bal<amount:
            print("LOW Balance in Your Account")
    def __str__(self):
        return "AC number is : {} and Balance is : {}".format(self.id,self.bal)

In [14]:
A1=Accounts()
print(A1)

AC number is : 1 and Balance is : 0

In [15]:
A1.deposit(1000)
print(A1)

AC number is : 1 and Balance is : 1000

In [16]:
A1.withdrow(500)
print(A1)

AC number is : 1 and Balance is : 500

In [17]:
A1.withdrow(1000)
print(A1)

LOW Balance in Your Account
AC number is : 1 and Balance is : 500

In [18]:
A1.withdrow(2000)
print(A1)

LOW Balance in Your Account
AC number is : 1 and Balance is : 500

In [19]:
A1.withdrow(100)
print(A1)

AC number is : 1 and Balance is : 400